.logo {
    content:"";
    background-image: url("FL.svg");
    width:100%;
    height:30px; 
    position:absolute;
 /*   right: 0;
    bottom: 0;*/
    background-repeat: no-repeat;
    background-size: auto 30px;
/*    background-position: 141px 557px;*/
}
/*.bg_logo {
    background-color: #FFFFFF;
}*/
/*.title2-2 {
    top: 20px;
}


.subtitle1, .subtitle2 {
    top: 10px;
}*/
.red,  .black {

 }
 .black {

 }
 .img1 {
/*    left: -12px;*/
    top: 30px;
    transform: scale(0.84);
 }
 .puzzel {
    top: 30px;
    transform: scale(1.1);
 }
.btn_left, .arrinR {
     content:"";
    background-image: url("btnLFL.png");
    width:100%;
    height:32px; 
    position:absolute;
    /*top: -8px;
    left: -63px;*/
    background-repeat: no-repeat;
    background-size: auto 32px;
    /*border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);*/
}
.arrinR {
    transform: scaleX(-1) !important;
/*    left: -105px;*/
}
.btn_left {top: 38px; left: -214px}
.btn_right {top: 38px; left: -190px}
.bg_color{
    background-color: #FFFFFF;
}
.frame::after{
    content:'';
    width:300px;
    height:250px;
    background-image: url("fl_frame.svg");
    position:absolute;
    left: 0;
}
/*.btn_right {
  background-image: url("btnLNu.png");
  
}*/

 /*#grid8-background{
    background-color: #FF0000!important;
 }*/

 /*CTA BUTTON*/
 .btn {
    /*right: -2px;
    bottom: 3px;*/
    transform-origin: 100% 200%!important;
 }
.cta {
/*    border-radius: 20px;*/
    background-color: #000000;
    width: max-content !important;
    height: auto !important;
    padding: 0.6em 1.2em 0.5em 1.2em;
    /*left: 50%;
    transform: translate(-50%, 0) !important;*/
    font-size: 16px!important;
}

.ctaFrame1 {
    right: 8px;
    bottom: -39px;
}

.btnRight>.cta {
    right: 0;
}

.cta::after {
     content: "";
    height: 0.7em;
    width: 0.7em;
    background-image: url("cta-hln.svg");
    display: inline-block;
    margin-left: 7px;
    background-size: contain;
    background-repeat: no-repeat;
}


@font-face {
    font-family: 'qautro';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/Miamo-Regular.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'museo';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-AcuminProCond-Bold.woff2') format('woff2');
    font-weight:unset!important;
}


.title_flair1, .title_flair2 {
    font-family: 'qautro' !important;
    font-weight:unset!important;
}



.subtitle_flair1, .subtitle_flair2, .cta {
    font-family: 'museo' !important;
    font-weight:unset!important;
}


