.logo {
    content:"";
    background-image: url("MAR.jpg");
    width:100%;
    height:43px; 
    position:absolute;
 /*   right: 0;
    bottom: 0;*/
    background-repeat: no-repeat;
    background-size: auto 43px;
/*    background-position: 141px 557px;*/
}
/*.bg_logo {
    background-color: #FFFFFF;
}*/
/*.title3::after{
    content:'';
    position:absolute;
    top:128px;
    left:77px;
    width:72px;
    height:10px;
    background-image: url("lib_sign.svg");
    background-repeat: no-repeat;
}*/
.img1 {display: none;}
 .puzzel {
    transform: scale(1.1);
    top: 32px;
 }
.title1-2 {
/*    top: -185px;*/
    color: #FFFFFF!important;
}
.subtitle1-2, .subtitle2-2 {color: #FFFFFF!important;}
.title2-2 {
/*    top: 42px;*/
    color: #FFFFFF!important;
};

.red,  .black {

 }
 .black {

 }

.btn_left, .arrinR {
     content:"";
    background-image: url("btnLMAR.png");
    width:100%;
    height:32px; 
    position:absolute;
    /*top: -8px;
    left: -63px;*/
    background-repeat: no-repeat;
    background-size: auto 32px;
    /*border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);*/
}
.arrinR {
    transform: scaleX(-1) !important;
    left: -105px;
}
.btn_left {top: 36px; left: -213px}
.btn_right {top: 36px; left: -90px}
.bg_color{
    background-color: #FFFFFF;
}


 /*CTA BUTTON*/
 .btn {
    top: 38px;
    right: 20px;
    transform-origin: 100% 100%!important;
 }
.cta {
    border-radius: 8px;
    background-color: #FFE500;
    width: max-content !important;
    height: auto !important;
    padding: 0.6em 0.8em 0.6em 1em;
    color: #000000!important;
/*    font-size: 16px!important;*/
    /*left: 50%;
    transform: translate(-50%, 0) !important;*/
}

.ctaFrame1 {
    right: 0px;
    bottom: 0px;
}

.btnRight>.cta {
    right: 0;
}

.cta::after {
     content: "";
    height: 0.7em;
    width: 0.7em;
    background-image: url("cta-mar.svg");
    display: inline-block;
    margin-left: 7px;
    background-size: contain;
    background-repeat: no-repeat;
}


@font-face {
    font-family: 'qautro';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-Eckhart-TextRegular.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'bold';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/Eckhart-TextBold.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'balto';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-CocoGothic-Bold.woff2') format('woff2');
    font-weight:unset!important;
}




.title_mar1, .title_mar2 {
    font-family: 'qautro' !important;
    font-weight:unset!important;
    overflow: visible!important;
}

.subtitle_mar1, .subtitle_mar2, .cta {
    font-family: 'balto' !important;
    font-weight:unset!important;
    overflow: visible!important;
}

.title1-2 span { 
/*    color: #FF0000 !important; */
    font-family: 'bold' !important;
    font-weight:unset!important;
}
.title2 span { 
/*    color: #FF0000 !important; */
    font-family: 'bold' !important;
    font-weight:unset!important;
}
.red span { 
/*    color: #FF0000 !important; */
    font-family: 'bold' !important;
    font-weight:unset!important;
}



