.tr, .fl, .vk, .hp, .mar, .dm, .hln, .bg_article1 {display: none!important;}
.logo {
    content:"";
    background-image: url("lib.svg");
    width:100%;
    height:36px; 
    position:absolute;
    background-repeat: no-repeat;
    background-size: auto 36px;
}
.bg_logo {
    background-color: #FFFFFF;
}
.hand {
    transform: translate(0px, 0px)!important;
}
.title::after{
    content:'';
    background-image: url("lib_line.svg");
    width: 240px;
    height:12px;
    position:absolute;
    top:-20px;
    left: 50%;
    transform: translate(-50%, 0) !important;
}
.libStripes {
    content:"";
    background-image: url("lib_stripes.svg");
    width:100%;
    height:600px; 
    position:absolute;
    left: 276px;
    background-repeat: no-repeat;
    background-size: auto 600px;
}
.bg1, .bg2 {
    left: 280px;
    top: 112px;
    rotate: 5deg!important;
}
.red,  .black {
    /*width: fit-content;
    white-space: nowrap;*/
 }
 .black {

 }
 .label {
    border:1px solid #000000;
    width: max-content !important;
    height: auto !important;
    padding: 5px 5px 2px 5px;
    color: #000000!important;
 }
  .ad970x250 { --cp: 612px;}
.bg_article {border: 1px solid #E97959; clip-path: inset( 0 0 0 var(--cp) );}


.bg_color{
    background-color: #FFFFFF;
}
/*.btn_right {
  background-image: url("btnLNu.png");
  
}*/
.arrinR {
    transform: scaleX(-1) !important;
}
 /*#grid8-background{
    background-color: #FF0000!important;
 }*/

 /*CTA BUTTON*/
 .btn {
    top:-5px;
 }
.cta {
/*    border-radius: 16px;*/
    background-color: #E9795A;
    width: max-content !important;
    height: auto !important;
    padding: 0.8em 1.2em 0.6em 1.4em;
    left: 50%;
    transform: translate(-50%, 0) !important;
}

.ctaFrame2 {
    background-color: #D10A10;
}

.btnRight>.cta {
    right: 0;
}

.cta::after {
    content: "";
    height: 0.9em;
    width: 0.9em;
    background-image: url(vk_arrow.svg);
    display: inline-block;
    margin-left: 7px;
    position: relative;
    top: 2px;
    background-size: contain;
    background-repeat: no-repeat;
}


@font-face {
    font-family: 'capitol';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-NexaBlack.woff2') format('woff2');
    font-weight:unset!important;
}

/*@font-face {
    font-family: 'bmedium';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-BentonSans-Medium.woff2') format('woff2');
    font-weight:unset!important;
}*/

@font-face {
    font-family: 'bregular';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-Nexa-Light.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'benton';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/NexaHeavy.woff2') format('woff2');
    font-weight:unset!important;
}




.title {
    font-family: 'capitol' !important;
    font-weight:unset!important;
    overflow: visible!important;
}

.artTitle {
    font-family: 'capitol' !important;
    font-weight:unset!important;
    overflow: visible!important;
    line-height: 1.133 em!important;
}

.artSub {
    font-family: 'bregular' !important;
    font-weight:unset!important;
    overflow: visible!important;
}

.cta, .label{
    font-family: 'benton' !important;
    font-weight:unset!important;
}
