.tr, .fl, .vkt, .hp, .lib, .dm, .hln, .bg_article1 {display: none!important;}
.logo {
    content:"";
    background-image: url("mar.svg");
    width:100%;
    height:52px; 
    position:absolute;
    top: 198px;
    background-repeat: no-repeat;
    background-size: auto 52px;
/*    background-position: 70px 560px;*/
}
.bg_logo {
    background-color: #FFFFFF;
}
.bg2 {
    transform: translate(44px, 80px)!important;
}
/*.title::after{
    content:'';
    width: 100%;
    height:4px;
    background-color: #000000;
    position:absolute;
    top:-5px;
    left:0;
}*/

.red,  .black {
    /*width: fit-content;
    white-space: nowrap;*/
 }
 .black {

 }
 .label {
    background-color:#FFE500;
    width: max-content !important;
    height: auto !important;
    padding: 5px 5px 5px 5px;
    font-size: 10px!important;
 }
 .ad970x250 { --cp: 612px;}
.bg_article {clip-path: inset( 0 0 0 var(--cp) );}

.bg_color{
    background-color: #E2EEEF;
}
/*.btn_right {
  background-image: url("btnLNu.png");
  
}*/
.arrinR {
    transform: scaleX(-1) !important;
}
 /*#grid8-background{
    background-color: #FF0000!important;
 }*/

 /*CTA BUTTON*/
 /*.btn {
    top:-70px;
 }*/
.cta {
    border-radius: 8px;
    background-color: #FFE500;
    width: max-content !important;
    height: auto !important;
    padding: 0.7em 1.2em 0.7em 1.4em;
    /*left: 50%;
    transform: translate(-50%, 0) !important;*/
    right: 0;
}

.ctaFrame2 {
    background-color: #D10A10;
}

.btnRight>.cta {
    right: 0;
}

.cta::after {
     content: "";
    height: 0.8em;
    width: 0.8em;
    background-image: url("mar_arrow.svg");
    display: inline-block;
    margin-left: 7px;
    background-size: contain;
    background-repeat: no-repeat;
}


@font-face {
    font-family: 'capitol';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-Eckhart-DisplayBold.woff2') format('woff2');
    font-weight:unset!important;
}


@font-face {
    font-family: 'bregular';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-CocoGothicPro-Regular.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'micro';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-MicrobrewSoftOne.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'benton';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-CocoGothic-Bold.woff2') format('woff2');
    font-weight:unset!important;
}




.title {
    font-family: 'capitol' !important;
    font-weight:unset!important;
    overflow: visible!important;
/*    color: #FFFFFF!important;*/
}

.artSub {
    font-family: 'bregular' !important;
    font-weight:unset!important;
    overflow: visible!important;
}
.label {
    font-family: 'micro' !important;
    font-weight:unset!important;
    color: #000000!important;
}
.cta, .artTitle {
    font-family: 'benton' !important;
    font-weight:unset!important;
    color: #000000!important;
}
