#level-Transition>* {
    perspective: 800px;
    perspective-origin: 15% 90%;
/*    transform-style: preserve-3d;*/
}
.card1, .card2, .card3 {
    transform-style: preserve-3d;
/*    transform: rotateY(8deg) rotateX(7deg) rotateZ(4deg);*/

}

.extrude::after{
    content:'';
    width:100%;
    height:100%;
    background: rgba(255,255,0,0.1) ;
    position:absolute;
    top:0;
    left:0;
}


.red,  .black {

 }
 .black {

 }

.bg_top {
    background-color: #87C1C1;
}

@font-face {
    font-family: 'qautro';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-Eckhart-TextRegular.woff2') format('woff2');
    font-weight:unset!important;
}
@font-face {
    font-family: 'bold';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/Eckhart-TextBold.woff2') format('woff2');
    font-weight:unset!important;
}
@font-face {
    font-family: 'balto';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-CocoGothic-Bold.woff2') format('woff2');
    font-weight:unset!important;
}

.title1, .title2 {
    color: #000000!important;
    font-family: 'qautro' !important;
    font-weight:unset!important;
}
.title1-2 span { 
/*    color: #FF0000 !important; */
    font-family: 'bold' !important;
    font-weight:unset!important;
}
.title2 span { 
/*    color: #FF0000 !important; */
    font-family: 'bold' !important;
    font-weight:unset!important;
}
.red span { 
/*    color: #FF0000 !important; */
    font-family: 'bold' !important;
    font-weight:unset!important;
}
.subtitle1, .subtitle2 {
    top: 20px;
    color: #000000!important;
    font-family: 'balto' !important;
    font-weight:unset!important;
}