#level-Transition>* {
    perspective: 800px;
    perspective-origin: 15% 90%;
/*    transform-style: preserve-3d;*/
}
.card1, .card2, .card3 {
    transform-style: preserve-3d;
/*    transform: rotateY(8deg) rotateX(7deg) rotateZ(4deg);*/

}

.extrude::after{
    content:'';
    width:100%;
    height:100%;
    background: rgba(255,255,0,0.1) ;
    position:absolute;
    top:0;
    left:0;
}


.red,  .black {

 }
 .black {

 }



@font-face {
    font-family: 'flama';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-Arial-BoldMT.woff2') format('woff2');
    font-weight:unset!important;
    overflow: visible!important;
}
.subtitle1, .subtitle2 {
    top: 20px;
}
.title1, .title2 {overflow: visible!important;}

.title1, .title2, .subtitle1, .subtitle2 {
    font-family: 'flama' !important;
    font-weight:unset!important;
}
