.logo {
    content:"";
    background-image: url("HLN.svg");
    width:100%;
    height:48px; 
    position:absolute;
 /*   right: 0;
    bottom: 0;*/
    background-repeat: no-repeat;
    background-size: auto 48px;
    background-position: 240px 540px;
}
.red,  .black {
/*    padding: 0.2em 0.2em 0.1em 0.2em;*/
      padding: 3px 5px 3px 5px;
/*    margin: 0 -0.2em 0.1em 0;*/
    left: 50%;
    transform: translate(-50%, 0) !important;
/*    clip-path: inset(0 0 0 0);*/
    background-color: #D10A10;
    width: fit-content;
    white-space: nowrap;
 }
 .black {
    background-color: #0A1195;
 }
.btn_left, .arrinR {
     content:"";
    background-image: url("btnLHLN.png");
    width:100%;
    height:38px; 
    position:absolute;
    background-repeat: no-repeat;
    background-size: auto 38px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
/*    border: 5px solid rgba(41, 41, 41, 0.15);*/
}
.arrinR {
    transform: scaleX(-1) !important;
}
 /*#grid8-background{
    background-color: #FF0000!important;
 }*/

 /*CTA BUTTON*/
.cta {
    border-radius: 5px;
    background-color: #FF0000;
    width: max-content !important;
    height: auto !important;
    padding: 0.8em 0.8em 0.5em 1em;
    /*left: 50%;
    transform: translate(-50%, 0) !important;*/
}

.ctaFrame2 {
    background-color: #D10A10;
}

.btnRight>.cta {
    right: 0;
}

.cta::after {
    content: "";
    height: 0.7em;
    width: 0.7em;
    background-image: url("cta-hln.svg");
    display: inline-block;
    margin-left: 7px;
    background-size: contain;
    background-repeat: no-repeat;
}


@font-face {
    font-family: 'flama';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/StagSans-Semibold.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'semi';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/StagSans-Medium.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'rama';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/RamaGothicEW01SemiBold.woff2') format('woff2');
    font-weight:unset!important;
}

.title1, .title2 {
    font-family: 'flama' !important;
    font-weight:unset!important;
}
.subtitle1, .subtitle2 {
    text-transform: uppercase!important;
    font-family: 'rama' !important;
    font-weight:unset!important;
}
.cta{
    font-family: 'semi' !important;
    font-weight:unset!important;
}