.logo {
    content:"";
    background-image: url("NU.svg");
    width:100%;
    height:48px; 
    position:absolute;
 /*   right: 0;
    bottom: 0;*/
    background-repeat: no-repeat;
    background-size: auto 48px;
    background-position: 240px 540px;
}
.subtitle1, .subtitle2 {
    top: 10px;
}
.red,  .black {

 }
 .black {

 }
.btn_left, .arrinR {
     content:"";
    background-image: url("btnLNu.png");
    width:100%;
    height:38px; 
    position:absolute;
    background-repeat: no-repeat;
    background-size: auto 38px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

/*.btn_right {
  background-image: url("btnLNu.png");
  
}*/
.arrinR {
    transform: scaleX(-1) !important;
}
 /*#grid8-background{
    background-color: #FF0000!important;
 }*/

 /*CTA BUTTON*/
 .btn {
    top: -2px;
 }
.cta {
    border-radius: 8px ;
    background-color: #69A10E;
    letter-spacing: 0.3px!important;
    width: max-content !important;
    height: auto !important;
    padding: 9px 22px 9px 34px
    /*left: 50%;
    transform: translate(-50%, 0) !important;*/
}

.ctaFrame2 {
    background-color: #D10A10;
}

.btnRight>.cta {
    right: 0;
}

.cta::after {
    content: "";
    height: 8px;
    width: 5px;
    background-image: url("cta-nu.svg");
    display: inline-block;
    margin-left: 7px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 15px;
    top: 13px;
}


@font-face {
    font-family: 'flama';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-Arial-BoldMT.woff2') format('woff2');
    font-weight:unset!important;
    overflow: visible!important;
}

.title1, .title2 {overflow: visible!important;}

.title1, .title2, .subtitle1, .subtitle2, .cta {
    font-family: 'flama' !important;
    font-weight:unset!important;
}
