.logo {
    content:"";
    background-image: url("VK.svg");
    width:100%;
    height:13px; 
    position:absolute;
 /*   right: 0;
    bottom: 0;*/
    background-repeat: no-repeat;
    background-size: auto 13px;
    background-position: 310px 70px;
/*    z-index: 150!important;*/
}
.bg_logo {
    background-color: #FFFFFF;
/*    z-index: 100!important;*/
}
.title1-2::after{
    content:'';
    width:233px;
    height:4px;
    background-color: #000000;
    position:absolute;
    top:-5px;
    left:0;
}
.title2-2::after{
    content:'';
    width:233px;
    height:4px;
    background-color: #000000;
    position:absolute;
    top:-5px;
    left:0;
}
.title1-2 {overflow: visible!important;}

/*.title1-2 {
    border-top: 4px solid #000000;
}*/
.subtitle1, .subtitle2 {
    top: 10px;
}
.red,  .black {

 }
 .black {

 }
/* .puzzel {
    top: -48px;
 }*/
.btn_left, .arrinR {
     content:"";
    background-image: url("btnLVK.png");
    width:100%;
    height:38px; 
    position:absolute;
    background-repeat: no-repeat;
    background-size: auto 38px;
    /*border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);*/
/*    z-index: 200!important;*/
}
.btn_left {
    top: -6px;
}
.btn_right {
    top: -14px;
}
.arrinR {
/*    transform: scaleX(-1) !important;*/
}
.bg_color{
    background-color: #E9F6FB;
}
 /*#grid8-background{
    background-color: #FF0000!important;
 }*/

 /*CTA BUTTON*/
 /*.btn {
    top:-70px;
 }*/
.cta {
    border-radius: 20px;
    background-color: #0097D8;
    width: max-content !important;
    height: auto !important;
    padding: 0.6em 0.8em 0.6em 1em;
    /*left: 50%;
    transform: translate(-50%, 0) !important;*/
}

.ctaFrame2 {
    background-color: #D10A10;
}

.btnRight>.cta {
    right: 0;
}

.cta::after {
     content: "";
    height: 0.7em;
    width: 0.7em;
    background-image: url("cta-hln.svg");
    display: inline-block;
    margin-left: 7px;
    background-size: contain;
    background-repeat: no-repeat;
}


@font-face {
    font-family: 'qautro';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/CapitoliumHead2W03-Bold.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'balto';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/BentonSans-Book.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'benton';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/BentonSans-Bold.woff2') format('woff2');
    font-weight:unset!important;
}




.title1-2, .title2-2 {
    font-family: 'qautro' !important;
    font-weight:unset!important;
}

.subtitle1-2, .subtitle2-2 {
    font-family: 'balto' !important;
    font-weight:unset!important;
}

.cta{
    font-family: 'benton' !important;
    font-weight:unset!important;
}
