.logo {
    content:"";
    background-image: url("LIB.svg");
    width:100%;
    height:35px; 
    position:absolute;
 /*   right: 0;
    bottom: 0;*/
    background-repeat: no-repeat;
    background-size: auto 35px;
/*    background-position: 141px 557px;*/
}
/*.bg_logo {
    background-color: #FFFFFF;
}*/
/*.title3::after{
    content:'';
    position:absolute;
    top:128px;
    left:77px;
    width:72px;
    height:10px;
    background-image: url("lib_sign.svg");
    background-repeat: no-repeat;
}*/


.subtitle1, .subtitle2 {
    top: 10px;
}
.red,  .black {

 }
 .black {

 }
.img1 {
    transform: scale(1.33);
    top: 11px;
    left: 40px;
 }
 .puzzel {
    transform: scale(1.33);
    top: 10px;
    left:-15px;
 }
 .overwhite {display: none;}
.btn_left, .arrinR {
     content:"";
    background-image: url("btnLLib.png");
    width:100%;
    height:38px; 
    position:absolute;
    background-repeat: no-repeat;
    background-size: auto 38px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
/*    border: 5px solid rgba(41, 41, 41, 0.15);*/
}
/*.btn_left, .btn_right {left:-30px}*/
/*.btn_right {left:0px; top:0px}*/
.arrinR {
/*    transform: scaleX(-1) !important;*/
}

.bg_color{
    background-color: #FFFFFF;
}
.bg_color::after{
    content:'';
    width:24px;
    height:600px;
    background-image: url("lib_stripes.svg");
    position:absolute;
    right: 0;
}
/*.btn_right {
  background-image: url("btnLNu.png");
  
}*/

 /*#grid8-background{
    background-color: #FF0000!important;
 }*/

 /*CTA BUTTON*/
 .btn {
    /*right: -47px;
    top: 44px;*/
    transform-origin: 100% 200%!important;
 }
.cta {
/*    border-radius: 20px;*/
    background-color: #000000;
    width: max-content !important;
    height: auto !important;
    padding: 1.0em 0.8em 0.8em 1.2em;
    /*left: 50%;
    transform: translate(-50%, 0) !important;*/
}

.ctaFrame1 {
    right: -15px !important;
    bottom: -43px;
}

.btnRight>.cta {
    right: 0;
}

.cta::after {
     content: "";
    height: 0.7em;
    width: 0.7em;
    background-image: url("cta-hln.svg");
    display: inline-block;
    margin-left: 7px;
    background-size: contain;
    background-repeat: no-repeat;
}


@font-face {
    font-family: 'qautro';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-NexaRegular.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'bold';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/NexaHeavy.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'balto';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/subset-MuseoSans-300.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'museo';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/NexaHeavy.woff2') format('woff2');
    font-weight:unset!important;
}


.title2-3, .title3 {
    font-family: 'qautro' !important;
    font-weight:unset!important;
}

.subtitle1-3, .subtitle2-3{
    font-family: 'balto' !important;
    font-weight:unset!important;
}

.cta {
    font-family: 'museo' !important;
    font-weight:unset!important;
}

.title2-3 span { 
/*    color: #FF0000 !important; */
    font-family: 'bold' !important;
    font-weight:unset!important;
}
.title3 span { 
/*    color: #FF0000 !important; */
    font-family: 'bold' !important;
    font-weight:unset!important;
}
.red span { 
/*    color: #FF0000 !important; */
    font-family: 'bold' !important;
    font-weight:unset!important;
}
