#level-Transition>* {
    perspective: 800px;
    perspective-origin: 15% 90%;
/*    transform-style: preserve-3d;*/
}
.card1, .card2, .card3 {
    transform-style: preserve-3d;
/*    transform: rotateY(8deg) rotateX(7deg) rotateZ(4deg);*/

}

.extrude::after{
    content:'';
    width:100%;
    height:100%;
    background: rgba(255,255,0,0.1) ;
    position:absolute;
    top:0;
    left:0;
}


.red,  .black {

 }
 .black {

 }
.title2-1::after{
    content:'';
    width:123px;
    height:13px;
    background-color: #000000;
    position:absolute;
    top:-20px;
    left:0;
}
.bg_top {
    background-color: #FFFFFF;
}
.bg_color{
    background-color: #E9F6FB;
}


@font-face {
    font-family: 'qautro';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/CapitoliumHead2W03-Bold.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'balto';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/BentonSans-Book.woff2') format('woff2');
    font-weight:unset!important;
}
.title2-1, .title2-2 {
    font-family: 'qautro' !important;
    font-weight:unset!important;
    overflow: visible!important;
}

.subtitle2-1, .subtitle2-2 {
    top: 20px;
    font-family: 'balto' !important;
    font-weight:unset!important;
}