#level-Transition>* {
    perspective: 800px;
    perspective-origin: 0% 77%;
/*    transform-style: preserve-3d;*/
}
.card1, .card2, .card3 {
    transform-style: preserve-3d;
/*    transform: rotateY(8deg) rotateX(7deg) rotateZ(4deg);*/

}

.extrude::after{
    content:'';
    width:100%;
    height:100%;
    background: rgba(255,255,0,0.1) ;
    position:absolute;
    top:0;
    left:0;
}


.red,  .black {
    padding: 0.2em 0.2em 0.1em 0.2em;
/*      padding: 3px 5px 3px 5px;*/
/*    margin: 0 -0.2em 0.1em 0;*/
    left: 50%;
    transform: translate(-50%, 0) !important;
/*    clip-path: inset(0 0 0 0);*/
    background-color: #FF0000;
    width: fit-content;
    white-space: nowrap;
 }
 .black {
    padding: 0.3em 0.2em 0.3em 0.2em;
    background-color: #0A1195;
 }



@font-face {
    font-family: 'flama';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/StagSans-Semibold.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'semi';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/StagSans-Medium.woff2') format('woff2');
    font-weight:unset!important;
}

@font-face {
    font-family: 'rama';
    src: url('https://static.pexi.nl/dpg-brand&digital/fonts/RamaGothicEW01SemiBold.woff2') format('woff2');
    font-weight:unset!important;
}

.title1 {
    font-family: 'flama' !important;
    font-weight:unset!important;
}
.subtitle1 {
    text-transform: uppercase!important;
    font-family: 'rama' !important;
    font-weight:unset!important;
}